.time-line {
    background-image: url(../img/green-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 350px;

    h2 {
        padding-top: 150px;

        span {
            border-bottom: 3px solid #494D55;
        }
    }
}

.time-line-container {
    display: flex;
    padding-top: 100px;
    min-height: 450px;
    justify-content: space-between;
    align-items: center;

    &__item {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            font-size: 2rem;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90px;
            width: 90px;
            border-radius: 50%;
            background-color: rgb(35, 161, 88);
            box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.322);

            span {
                display: inline-block;
                margin-bottom: 10px;
            }
        }
    }

    &__item:first-child {
        align-self: flex-start;
        position: relative;
        z-index: 2;

        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            background-image: url(../img/elipseDown.png);
            background-repeat: no-repeat;
            background-size: contain;
            height: 160px;
            width: 150px;
            right: -125px;
            transform: rotate(-15deg);

        }
    }

    &__item:nth-child(3) {
        align-self: flex-start;
        position: relative;
        z-index: 2;

        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            background-image: url(../img/elipseDown.png);
            background-repeat: no-repeat;
            background-size: contain;
            height: 145px;
            width: 140px;
            right: -120px;
            transform: rotate(-15deg);

        }
    }

    &__item:last-child {
        align-self: flex-start;
    }

    &__item:nth-child(2) {
       
        position: relative;
        z-index: 2;

        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            background-image: url(../img/elipseUp.png);
            background-repeat: no-repeat;
            background-size: contain;
            height: 175px;
            width: 165px;
            right: -120px;
            top: -55px;
            transform: rotate(16deg);
        }
    }

    &__item:nth-child(4) {
        position: relative;
        z-index: 2;
        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            background-image: url(../img/elipseUp.png);
            background-repeat: no-repeat;
            background-size: contain;
            height: 155px;
            width: 165px;
            right: -150px;
            top: -55px;
            transform: rotate(16deg);
        }
    }
}

//media
@media (max-width: 1080px) {
    .time-line-container {
        &__item:first-child {

            &:after {
                height: 160px;
                width: 140px;
                right: -115px;
            }
        }
        &__item:nth-child(2) {
           

            &::after {
                height: 160px;
                width: 150px;
                right: -115px;
                top: -55px;
                
            }
        }

        &__item:nth-child(3) {
            &::after {
                height: 140px;
                width: 120px;
                right: -105px;
                top: 15px;
            }
        }

        &__item:nth-child(4) {
            &::after {
                height: 140px;
                width: 145px;
                transform: rotate(15deg);
                top: -55px;
                right: -125px;
            }
        }
    }


}

@media (max-width: 992px) {
    .time-line-container {
        &__item:first-child {

            &:after {
                height: 125px;
                width: 125px;
                right: -98px;
                top: 15px;
            }
        }

        &__item:nth-child(2) {
            position: relative;

            &::after {
                height: 125px;
                width: 125px;
                right: -80px;
                top: -40px;
                transform: rotate(10deg);
            }
        }

        &__item:nth-child(3) {
            &::after {
                height: 115px;
                width: 115px;
                right: -93px;
                top: 15px;
                transform: rotate(-10deg);

            }
        }

        &__item:nth-child(4) {
            &::after {
                height: 130px;
                width: 140px;
                transform: rotate(10deg);
                top: -35px;
                right: -110px;
            }
        }
    }
}
@media (max-width: 850px) {
    .time-line-container {
        &__item:first-child {

            &:after {
                height: 115px;
                width: 115px;
                right: -90px;
                top: 10px;
                transform: rotate(-10deg);
            }
        }

        &__item:nth-child(2) {
            position: relative;

            &::after {
                height: 123px;
                width: 123px;
                right: -60px;
                top: -40px;
                transform: rotate(-4deg);
            }
        }

        &__item:nth-child(3) {
            &::after {
                height: 110px;
                width: 110px;
                right: -90px;
                top: 15px;
                transform: rotate(-8deg);

            }
        }

        &__item:nth-child(4) {
            &::after {
                height: 120px;
                width: 120px;
                transform: rotate(10deg);
                top: -32px;
                right: -92px;
            }
        }
    }
}


@media (max-width: 768px) {
    .time-line-container {
        flex-direction: column;
        align-items: center;

        &__item {
            margin-bottom: 25px;
        }

        &__item:first-child {
            align-self: center;

            &:after {
                height: 100px;
                width: 100px;
                transform: rotate(45deg);
                right: -10px;
                top: 50px;
            }
        }

        &__item:nth-child(2) {


            &::after {
                height: 90px;
                width: 90px;
                left: 0;
                top: 80px;
                transform: rotate(135deg);
            }
        }




        &__item:nth-child(3) {
            align-self: center;

            &:after {
                height: 100px;
                width: 100px;
                transform: rotate(50deg);
                right: -15px;
                top: 50px;
            }
        }

        &__item:nth-child(4) {

            &::after {
                height: 90px;
                width: 90px;
                left: -15px;
                top: 80px;
                transform: rotate(135deg);
            }
        }

        &__item:last-child {
            align-self: center;

        }
    }
}

@media (max-width: 425px) {
    .time-line-container {
        &__item:first-child {

            &:after {
                transform: rotate(45deg);
                right: -10px;
                top: 40px;
                height: 90px;
                width: 90px;
            }
        }

        &__item:nth-child(2) {

            &::after {
                height: 90px;
                width: 90px;
                left: 0;
                top: 80px;
                transform: rotate(125deg);
            }
        }

        &__item:nth-child(3) {


            &:after {
                transform: rotate(48deg);
                right: -20px;
                top: 55px;
                height: 90px;
                width: 90px;
            }
        }

        &__item:nth-child(4) {

            &::after {
                height: 80px;
                width: 80px;
                left: -20px;
                top: 70px;
                transform: rotate(135deg);
            }
        }
    }
}

@media (max-width: 375px) {
    .time-line-container {
        &__item:first-child {

            &:after {
                transform: rotate(45deg);
                right: -15px;
                top: 65px;
                height: 70px;
                width: 70px;
            }
        }

        &__item:nth-child(2) {

            &::after {
                height: 90px;
                width: 90px;
                left: -20px;
                top: 80px;
                transform: rotate(130deg);
            }
        }

        &__item:nth-child(3) {


            &:after {
                transform: rotate(45deg);
                right: -20px;
                top: 75px;
                height: 70px;
                width: 70px;
            }
        }

        &__item:nth-child(4) {

            &::after {
                height: 60px;
                width: 60px;
                left: -15px;
                top: 80px;
                transform: rotate(135deg);
            }
        }
    }
}

//media