.time-line {

    background-color: #27AE60;
    width: 100%;
    margin-top: -240px;

    h2 {
        padding-top: 100px;
        position: relative;
        z-index: 5;

        span {
            border-bottom: 3px solid #494D55;
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            line-height: 41px;
        }
    }
}

.time-line-container {
    display: flex;
    padding-top: 110px;
    min-height: 400px;
    justify-content: space-between;
    align-items: center;

    &__item {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            font-size: 2rem;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90px;
            width: 90px;
            border-radius: 50%;
            background-color: rgb(35, 161, 88);
            box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.322);

            span {
                display: inline-block;
                margin-bottom: 20px;
                font-size: 3.5rem;
            }
        }

        span {
            display: inline-block;
            margin-top: 10px;
            font-size: 1.1rem;
        }
    }

    &__item:first-child {
        align-self: flex-start;
        position: relative;
        z-index: 2;

        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            background-image: url(../img/elipseDown.png);
            background-repeat: no-repeat;
            background-size: contain;
            height: 150px;
            width: 145px;
            right: -112px;
            transform: rotate(-15deg);

        }
    }

    &__item:nth-child(3) {
        align-self: flex-start;
        position: relative;
        z-index: 2;

        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            background-image: url(../img/elipseDown.png);
            background-repeat: no-repeat;
            background-size: contain;
            height: 145px;
            width: 140px;
            right: -115px;
            bottom: -2px;
            transform: rotate(-15deg);

        }
    }

    &__item:last-child {
        align-self: flex-start;
    }

    &__item:nth-child(2) {

        position: relative;
        z-index: 2;

        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            background-image: url(../img/elipseUp.png);
            background-repeat: no-repeat;
            background-size: contain;
            height: 175px;
            width: 165px;
            right: -110px;
            top: -55px;
            transform: rotate(16deg);
        }
    }

    &__item:nth-child(4) {
        position: relative;
        z-index: 2;

        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            background-image: url(../img/elipseUp.png);
            background-repeat: no-repeat;
            background-size: contain;
            height: 140px;
            width: 140px;
            right: -120px;
            top: -35px;
            transform: rotate(25deg);
        }
    }
}

//media
@media (max-width: 1080px) {
    .time-line-container {
        &__item:first-child {

            &:after {
                height: 160px;
                width: 140px;
                right: -115px;
            }
        }

        &__item:nth-child(2) {


            &::after {
                height: 160px;
                width: 150px;
                right: -115px;
                top: -55px;

            }
        }

        &__item:nth-child(3) {
            &::after {
                height: 140px;
                width: 120px;
                right: -105px;
                top: 15px;
            }
        }

        &__item:nth-child(4) {
            &::after {
                height: 120px;
                width: 120px;
                transform: rotate(15deg);
                top: -25px;
                right: -95px;
            }
        }
    }


}

@media (max-width: 992px) {
    .time-line-container {
        &__item:first-child {

            &:after {
                height: 125px;
                width: 125px;
                right: -98px;
                top: 15px;
            }
        }

        &__item:nth-child(2) {
            position: relative;

            &::after {
                height: 125px;
                width: 125px;
                right: -80px;
                top: -40px;
                transform: rotate(10deg);
            }
        }

        &__item:nth-child(3) {
            &::after {
                height: 115px;
                width: 115px;
                right: -93px;
                top: 15px;
                transform: rotate(-10deg);

            }
        }

        &__item:nth-child(4) {
            &::after {
                height: 115px;
                width: 115px;
                transform: rotate(20deg);
                top: -15px;
                right: -90px;
            }
        }
    }
}

@media (max-width: 850px) {
    .time-line-container {
        &__item:first-child {

            &:after {
                height: 115px;
                width: 115px;
                right: -90px;
                top: 10px;
                transform: rotate(-10deg);
            }
        }

        &__item:nth-child(2) {
            position: relative;

            &::after {
                height: 123px;
                width: 123px;
                right: -60px;
                top: -40px;
                transform: rotate(-4deg);
            }
        }

        &__item:nth-child(3) {
            &::after {
                height: 110px;
                width: 110px;
                right: -90px;
                top: 15px;
                transform: rotate(-8deg);

            }
        }

        &__item:nth-child(4) {
            &::after {
                width: 90px;
                transform: rotate(15deg);
                top: -10px;
                right: -60px;
            }
        }
    }
}


@media (max-width: 768px) {
    .time-line-container {
        flex-direction: column;
        align-items: center;

        &__item {
            margin-bottom: 25px;
        }

        &__item:first-child {
            align-self: center;

            &:after {
                height: 100px;
                width: 100px;
                transform: rotate(45deg);
                right: -5px;
                top: 50px;
            }
        }

        &__item:nth-child(2) {


            &::after {
                height: 90px;
                width: 90px;
                left: 7px;
                top: 80px;
                transform: rotate(137deg);
            }
        }




        &__item:nth-child(3) {
            align-self: center;

            &:after {
                height: 100px;
                width: 100px;
                transform: rotate(45deg);
                right: -15px;
                top: 70px;
            }
        }

        &__item:nth-child(4) {

            &::after {
                height: 90px;
                width: 90px;
                left: -10px;
                top: 80px;
                transform: rotate(135deg);
            }
        }

        &__item:last-child {
            align-self: center;

        }
    }
}

@media (max-width: 425px) {
    .time-line-container {
        &__item:first-child {

            &:after {
                transform: rotate(45deg);
                right: -10px;
                top: 75px;
                height: 90px;
                width: 90px;
            }
        }

        &__item:nth-child(2) {

            &::after {
                height: 90px;
                width: 90px;
                left: 10px;
                top: 80px;
                transform: rotate(125deg);
            }
        }

        &__item:nth-child(3) {


            &:after {
                transform: rotate(48deg);
                right: -20px;
                top: 75px;
                height: 100px;
                width: 100px;
            }
        }

        &__item:nth-child(4) {

            &::after {
                height: 90px;
                width: 90px;
                left: -20px;
                top: 70px;
                transform: rotate(135deg);
            }
        }
    }
}

@media (max-width: 375px) {
    .time-line-container {
        &__item:first-child {

            &:after {
                transform: rotate(48deg);
                right: -12px;
                top: 65px;
                height: 80px;
                width: 75px;
            }
        }

        &__item:nth-child(2) {

            &::after {
                height: 90px;
                width: 90px;
                left: -20px;
                top: 70px;
                transform: rotate(135deg);
            }
        }

        &__item:nth-child(3) {


            &:after {
                transform: rotate(48deg);
                right: -20px;
                top: 75px;
                height: 80px;
                width: 80px;
            }
        }

        &__item:nth-child(4) {

            &::after {
                height: 80px;
                width: 80px;
                left: -23px;
                top: 80px;
                transform: rotate(135deg);
            }
        }
    }
}

//media