*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

html,
body {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 425px) {
  html,
  body {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  html,
  body {
    font-size: 12px;
  }
  .container {
    padding: 0 10px;
  }
}

.main {
  background-image: url(../img/bg.png);
  background-color: rgba(0, 0, 0, 0.767);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  padding-top: 80px;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 500;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header__body {
  position: relative;
  z-index: !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list li {
  list-style: none;
  margin-left: 20px;
}

.header__link {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.853);
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header__link:hover {
  color: rgba(39, 174, 95, 0.904);
  cursor: pointer;
}

.header__burger {
  display: none;
}

.logo-img {
  max-width: 160px;
  width: 100%;
  position: absolute;
  top: 0;
  border-radius: 5px;
}

@media (max-width: 375px) {
  .logo-img {
    padding-right: 2.5px;
    padding-left: 2.5px;
  }
}

@media (min-width: 1440px) {
  .logo-img {
    max-width: 250px;
  }
}

@media (max-width: 900px) {
  .header__list li {
    margin: 0;
    text-align: center;
  }
  .header__link {
    padding: 0;
  }
  .header__list {
    position: fixed;
    z-index: 500;
    -webkit-transition: .8s;
    transition: .8s;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .menu_active {
    right: 0;
  }
  .header__burger {
    display: block;
    position: fixed;
    z-index: 2000;
    height: 25px;
    right: 25px;
    width: 25px;
  }
  .header__burger span {
    display: block;
    margin: 5px;
    height: 2px;
    width: 100%;
    background-color: #27ae5f;
  }
  .burger_active span {
    margin-bottom: -7px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .burger_active span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .burger_active span:nth-child(2) {
    display: none;
  }
  .burger_active span:nth-child(3) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.header-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-btn-group .signUp {
  display: inline-block;
  border: 1px solid #27ae5f;
  border-radius: 3px;
  padding: 3% 10px;
  text-align: center;
  margin-right: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header-btn-group .signUp:hover {
  border: 1px solid rgba(255, 255, 255, 0.493);
  color: #27ae5f;
  -webkit-box-shadow: 0 0 4px 2px rgba(39, 174, 95, 0.322);
          box-shadow: 0 0 4px 2px rgba(39, 174, 95, 0.322);
  background-color: rgba(0, 0, 0, 0.801);
}

.header-btn-group .signIn {
  border: 1px solid #27ae5f;
  border-radius: 3px;
  padding: 3% 10px;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header-btn-group .signIn:hover {
  border: 1px solid rgba(255, 255, 255, 0.493);
  color: #27ae5f;
  -webkit-box-shadow: 0 0 4px 2px rgba(39, 174, 95, 0.322);
          box-shadow: 0 0 4px 2px rgba(39, 174, 95, 0.322);
  background-color: rgba(0, 0, 0, 0.801);
}

@media (max-width: 900px) {
  .header-btn-group {
    margin-right: 50px;
  }
}

@media (max-width: 412px) {
  .header-btn-group {
    margin-left: 15px;
    margin-right: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-btn-group .signIn {
    margin-top: 5px;
  }
}

.header-content {
  height: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 10;
}

.header-content h1 {
  text-align: center;
  font-weight: 200;
  font-size: 3.4rem;
  margin-top: 1em;
  line-height: 1.5;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.header-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.5em;
}

.header-content-container__text {
  width: 100%;
  min-width: 300px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 1.4rem;
}

.header-content-container__text p:first-child {
  border-top: 1px solid #27ae5f;
  margin-top: 25px;
  padding-top: 25px;
  letter-spacing: .8px;
  line-height: 1.5;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  font-size: 1.5rem;
}

.header-content-container__text p:last-child {
  font-weight: 200;
  font-size: 1.2rem;
  margin-top: 2.5em;
  letter-spacing: .9px;
  line-height: 1.5;
}

.header-content-container__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
}

.header-content-container__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  height: 350px;
  margin: 0 auto;
  padding: 0 15px;
  border-radius: 10px;
  max-width: 420px;
  background: #3a393a;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content-container__form form h3 {
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.95);
}

.header-content-container__form form input {
  width: 100%;
  max-width: 380px;
  padding: 0.7em 0 0.7em 1em;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #373737;
  outline: rgba(39, 174, 95, 0.767);
  background-color: #9b9a9b;
}

.header-content-container__form form textarea {
  width: 100%;
  max-width: 380px;
  padding: 1em 0 1em 1em;
  resize: none;
  border-radius: 5px;
  border: 1px solid #373737;
  outline: rgba(39, 174, 95, 0.767);
  background-color: #9b9a9b;
}

.header-content-container__form form button {
  background-color: #27ae5f;
  padding: 0.4em 2em;
  border-radius: 5px;
  margin-top: 30px;
  -webkit-transition: all .6s;
  transition: all .6s;
  outline: rgba(39, 174, 95, 0.767);
}

.header-content-container__form form button:hover {
  background-color: rgba(39, 174, 95, 0.767);
}

.header-content-container__form form ::-webkit-input-placeholder {
  color: rgba(75, 75, 75, 0.5);
}

.header-content-container__form form :-ms-input-placeholder {
  color: rgba(75, 75, 75, 0.5);
}

.header-content-container__form form ::-ms-input-placeholder {
  color: rgba(75, 75, 75, 0.5);
}

.header-content-container__form form ::placeholder {
  color: rgba(75, 75, 75, 0.5);
}

@media (max-width: 831px) {
  .header-content-container__text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .header-content-container__form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 15px;
  }
}

.main-services {
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-services h3 {
  text-align: center;
  font-size: 1.5rem;
  border-bottom: 1px solid #27ae5f;
  padding-bottom: 10px;
  max-width: 200px;
  margin: 0 auto;
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.services-container__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 50px;
}

.services-container__row .services-item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  min-width: 200px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
}

.services-container__row .services-item img {
  max-width: 60px;
  -webkit-transition: all 1s;
  transition: all 1s;
  padding: 5px;
}

.services-container__row .services-item img:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0 4px 2px rgba(39, 174, 95, 0.644);
          box-shadow: 0 0 4px 2px rgba(39, 174, 95, 0.644);
}

@media (max-width: 768px) {
  .services-container__row:last-child {
    margin-top: 0;
  }
  .services-container .services-item {
    margin-top: 25px;
  }
}

.offers {
  background-color: #363233;
  position: relative;
  padding: 50px 0 0 0;
}

.offers h2 span {
  border-bottom: 3px solid #27ae5f;
}

.offers:after {
  content: '';
  position: absolute;
  z-index: 1;
  height: 200px;
  background-size: cover;
  background-image: url(../img/whitebg.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  bottom: 0;
  left: 0;
  right: 0;
}

.offers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
  text-align: center;
  width: 100%;
}

.offers-container__item:nth-child(2) p {
  background-image: url(../img/offers/develop0.png);
}

.offers-container__item:nth-child(3) p {
  background-image: url(../img/offers/ii.png);
}

.offers-container__item:nth-child(4) p {
  background-image: url(../img/offers/blockchain.png);
}

.offers-container__item:nth-child(5) p {
  background-image: url(../img/offers/analiz.png);
}

.offers-container__item:nth-child(6) p {
  background-image: url(../img/offers/bots.png);
}

.offers-container__item:nth-child(7) p {
  background-image: url(../img/offers/robots.png);
}

.offers-container__item:nth-child(8) p {
  background-image: url(../img/offers/consult.png);
}

.offers-container__item:nth-child(9) p {
  background-image: url(../img/offers/develop1.png);
}

.offers-container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3F3C3F;
  max-width: 320px;
  border-radius: 10px;
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  height: 100%;
  height: 380px;
  position: relative;
  margin-top: 25px;
  -webkit-box-shadow: 0 5px 2px 4px rgba(0, 0, 0, 0.048);
          box-shadow: 0 5px 2px 4px rgba(0, 0, 0, 0.048);
}

.offers-container__item h4 {
  background-color: #27ae5f;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  font-weight: 200;
  position: relative;
  z-index: 25;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offers-container__item p {
  position: relative;
  z-index: 2;
  padding: 65px 0 150px;
  background-image: url(../img/offers/cyber-secur.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
}

.offers-container__item p:before {
  content: '';
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: rgba(63, 60, 63, 0.8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.offers-container__item p span {
  position: relative;
  z-index: 30;
  color: #fff;
}

.offers-container__item p__item:nth-child(2) p {
  background-image: url(../img/offers/develop0.png);
}

.offers-container__item p a {
  display: block;
  margin: 0 auto;
  position: absolute;
  z-index: 30;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #27ae5f;
  max-width: 160px;
  padding: 5px 0;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.offers-container__item p a:hover {
  border: 1px solid rgba(255, 255, 255, 0.493);
  color: #27ae5f;
  -webkit-box-shadow: 0 0 4px 2px rgba(39, 174, 95, 0.322);
          box-shadow: 0 0 4px 2px rgba(39, 174, 95, 0.322);
}

.offers-container__item p a span {
  color: #27ae5f;
}

@media (max-width: 992px) {
  .offers-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 -8px;
  }
  .offers-container__item {
    margin: 25px 8px;
  }
}

.whyWe {
  background-image: url(../img/bg-green.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #494D55;
  width: 100%;
}

.whyWe .container {
  padding: 75px 15px;
  position: relative;
  z-index: 20;
}

.whyWe .container h2 span {
  border-bottom: 3px solid #27ae5f;
  font-weight: 400;
  font-size: 2rem;
}

.whyWe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whyWe-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  padding: 15px 0;
  margin-top: 25px;
  -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.274);
          box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.274);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.whyWe-item:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 0 4px 2px rgba(39, 174, 95, 0.473);
          box-shadow: 0 0 4px 2px rgba(39, 174, 95, 0.473);
}

.whyWe-item__img {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: right;
  margin-right: 15px;
}

.whyWe-item__img img {
  width: 100%;
  max-width: 100px;
}

.whyWe-item__text {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  margin: 15px;
}

.whyWe-item__text h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.whyWe-item__text p {
  color: #000;
  max-width: 75%;
}

@media (max-width: 425px) {
  .whyWe-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .whyWe-item__text p {
    max-width: 100%;
  }
}

.time-line {
  background-image: url(../img/green-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 350px;
}

.time-line h2 {
  padding-top: 150px;
}

.time-line h2 span {
  border-bottom: 3px solid #494D55;
}

.time-line-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  min-height: 450px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time-line-container__item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time-line-container__item div {
  font-size: 2rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #23a158;
  -webkit-box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.322);
          box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.322);
}

.time-line-container__item div span {
  display: inline-block;
  margin-bottom: 10px;
}

.time-line-container__item:first-child {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  z-index: 2;
}

.time-line-container__item:first-child::after {
  content: '';
  position: absolute;
  z-index: 1;
  background-image: url(../img/elipseDown.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 160px;
  width: 150px;
  right: -125px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.time-line-container__item:nth-child(3) {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  z-index: 2;
}

.time-line-container__item:nth-child(3)::after {
  content: '';
  position: absolute;
  z-index: 1;
  background-image: url(../img/elipseDown.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 145px;
  width: 140px;
  right: -120px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.time-line-container__item:last-child {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.time-line-container__item:nth-child(2) {
  position: relative;
  z-index: 2;
}

.time-line-container__item:nth-child(2)::after {
  content: '';
  position: absolute;
  z-index: 1;
  background-image: url(../img/elipseUp.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 175px;
  width: 165px;
  right: -120px;
  top: -55px;
  -webkit-transform: rotate(16deg);
          transform: rotate(16deg);
}

.time-line-container__item:nth-child(4) {
  position: relative;
  z-index: 2;
}

.time-line-container__item:nth-child(4)::after {
  content: '';
  position: absolute;
  z-index: 1;
  background-image: url(../img/elipseUp.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 155px;
  width: 165px;
  right: -150px;
  top: -55px;
  -webkit-transform: rotate(16deg);
          transform: rotate(16deg);
}

@media (max-width: 1080px) {
  .time-line-container__item:first-child:after {
    height: 160px;
    width: 140px;
    right: -115px;
  }
  .time-line-container__item:nth-child(2)::after {
    height: 160px;
    width: 150px;
    right: -115px;
    top: -55px;
  }
  .time-line-container__item:nth-child(3)::after {
    height: 140px;
    width: 120px;
    right: -105px;
    top: 15px;
  }
  .time-line-container__item:nth-child(4)::after {
    height: 140px;
    width: 145px;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
    top: -55px;
    right: -125px;
  }
}

@media (max-width: 992px) {
  .time-line-container__item:first-child:after {
    height: 125px;
    width: 125px;
    right: -98px;
    top: 15px;
  }
  .time-line-container__item:nth-child(2) {
    position: relative;
  }
  .time-line-container__item:nth-child(2)::after {
    height: 125px;
    width: 125px;
    right: -80px;
    top: -40px;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  .time-line-container__item:nth-child(3)::after {
    height: 115px;
    width: 115px;
    right: -93px;
    top: 15px;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  .time-line-container__item:nth-child(4)::after {
    height: 130px;
    width: 140px;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    top: -35px;
    right: -110px;
  }
}

@media (max-width: 850px) {
  .time-line-container__item:first-child:after {
    height: 115px;
    width: 115px;
    right: -90px;
    top: 10px;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  .time-line-container__item:nth-child(2) {
    position: relative;
  }
  .time-line-container__item:nth-child(2)::after {
    height: 123px;
    width: 123px;
    right: -60px;
    top: -40px;
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  .time-line-container__item:nth-child(3)::after {
    height: 110px;
    width: 110px;
    right: -90px;
    top: 15px;
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  .time-line-container__item:nth-child(4)::after {
    height: 120px;
    width: 120px;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    top: -32px;
    right: -92px;
  }
}

@media (max-width: 768px) {
  .time-line-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .time-line-container__item {
    margin-bottom: 25px;
  }
  .time-line-container__item:first-child {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .time-line-container__item:first-child:after {
    height: 100px;
    width: 100px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    right: -10px;
    top: 50px;
  }
  .time-line-container__item:nth-child(2)::after {
    height: 90px;
    width: 90px;
    left: 0;
    top: 80px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .time-line-container__item:nth-child(3) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .time-line-container__item:nth-child(3):after {
    height: 100px;
    width: 100px;
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
    right: -15px;
    top: 50px;
  }
  .time-line-container__item:nth-child(4)::after {
    height: 90px;
    width: 90px;
    left: -15px;
    top: 80px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .time-line-container__item:last-child {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 425px) {
  .time-line-container__item:first-child:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    right: -10px;
    top: 40px;
    height: 90px;
    width: 90px;
  }
  .time-line-container__item:nth-child(2)::after {
    height: 90px;
    width: 90px;
    left: 0;
    top: 80px;
    -webkit-transform: rotate(125deg);
            transform: rotate(125deg);
  }
  .time-line-container__item:nth-child(3):after {
    -webkit-transform: rotate(48deg);
            transform: rotate(48deg);
    right: -20px;
    top: 55px;
    height: 90px;
    width: 90px;
  }
  .time-line-container__item:nth-child(4)::after {
    height: 80px;
    width: 80px;
    left: -20px;
    top: 70px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@media (max-width: 375px) {
  .time-line-container__item:first-child:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    right: -15px;
    top: 65px;
    height: 70px;
    width: 70px;
  }
  .time-line-container__item:nth-child(2)::after {
    height: 90px;
    width: 90px;
    left: -20px;
    top: 80px;
    -webkit-transform: rotate(130deg);
            transform: rotate(130deg);
  }
  .time-line-container__item:nth-child(3):after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    right: -20px;
    top: 75px;
    height: 70px;
    width: 70px;
  }
  .time-line-container__item:nth-child(4)::after {
    height: 60px;
    width: 60px;
    left: -15px;
    top: 80px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

.news {
  background-color: #1F1E1E;
  padding: 25px 0;
}

.news h2 {
  margin-bottom: 20px;
  line-height: 1.5;
}

.news h2 span {
  border-bottom: 2px solid #27ae5f;
}

.news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 -8px;
}

.news-container .container-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 90%;
}

.news-container .container-news .news-btn-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 20px;
}

.news-container .container-news .news-btn-container a {
  border: 1px solid #27ae5f;
  padding: 5px 20px;
  color: #27ae5f;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.news-container .container-news .news-btn-container a:hover {
  border: 1px solid rgba(255, 255, 255, 0.493);
  color: #27ae5f;
  -webkit-box-shadow: 0 0 4px 2px rgba(39, 174, 95, 0.322);
          box-shadow: 0 0 4px 2px rgba(39, 174, 95, 0.322);
}

.news-container__item {
  -ms-flex-preferred-size: 23.5%;
      flex-basis: 23.5%;
  padding: 15px 0;
  margin: 10px 8px;
  min-width: 250px;
  border-radius: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #292525;
}

.news-container__item h3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-bottom: 1px solid #27ae5f;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 100%;
  color: rgba(255, 255, 255, 0.75);
}

.news-container__item div img {
  width: 100%;
  max-width: 250px;
}

.footer {
  background-color: #1F1E1E;
  padding: 25px 0;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #27ae5f;
  padding-bottom: 10px;
  max-width: 80%;
  margin: 0 auto;
}

.footer-container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container .logo div:first-child img {
  max-width: 110px;
  margin-bottom: -5px;
}

.footer-container .logo div:last-child {
  display: inline-block;
  border-left: 1px solid rgba(39, 174, 95, 0.575);
  padding-left: 10px;
  margin-left: 10px;
  height: 40px;
}

.footer-container .logo div:last-child span {
  display: inline-block;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.795);
}

.footer-container .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -10px;
}

.footer-container .social img {
  width: 100%;
  max-width: 25px;
}

.footer-container .social div:not(:last-child) {
  margin-right: 15px;
}

.footer-items {
  text-align: center;
}

.footer-items span {
  display: inline-block;
  margin: 15px 10px;
}

@media (max-width: 375px) {
  .footer-container .social div:not(:last-child) {
    margin-right: 5px;
  }
}
/*# sourceMappingURL=style.css.map */